@import url("header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body{
    font-family: "Comfortaa";
    background-image: url("../images/kimImgs/wild_flowers.png");
    background-repeat: repeat;
    height=100%;
}

#exercisePage{
    background-color: #dbdad7;
    position: relative;
    width: 80%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -45px;
    top: 180px;
}
#imgWrap{
    width: 550px;
    height: 420px;
    background-color: white;
    box-shadow: 5px 5px 10px #898989;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

#mainImage{
    width: 500px;
    height: auto;
    border-radius: 10px;
    max-height: 380px;
    max-width: 510px;
}
video{
    width: 500px;
    height: auto;
    border-radius: 10px;
    max-height: 380px;
    max-width: 510px;
}

#imageIndicator{
    padding-top; 5px;
    border-top: 3px black;
}

#location{
    width: 20%;
    position: absolute;
    top: 250px;
}
#helpText{
    visibility: hidden;
}

.location{
    font-size: 72px;
    font-weight: bolder;;
    text-shadow: 2px 2px 2px #725e5e;
    color: #dbdad7;
    text-align: center;
}
.locationSub{
    text-align: center;
    color: #725e5e;
    font-weight: lighter;
    font-size: 12px;
    line-height: 0px;
}
.exerciseNavButtons{
    display: flex;
    justify-content:space-around;
    position: relative;
    top: 15px;
    width: 500px;
    margin: 0 auto;
    align-items: center;
}
#help{
    width:23px;
    height:23px;
}

input[name=navButtons]{
    background-color: #327c7a;
    padding: 6px;
    width: 110px;
    color: white;
    border: none;
    box-shadow: 1px 1px 2px #898989
}
input[name=navButtons]:hover{
    background-color: #b2f9ed;
    color: #725e5e;
}
form {
    padding: 40px;
    display: none;
    height: auto;
    width: 75%;
    position: relative;
    top: 185px;
    /*text-align: center;*/
    background-color: #877676;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #898989;
    margin-bottom: 50px;
}
fieldset{
    background-color: white;
    height: 450px;
    border-radius: 10px;
}
legend{
    height: 100px;
    color: white;
    font-size: 40px;
}
#okButton{
    margin-top: 250px;
}
#exercisePage:after{
    content:"";
    display: block;
    height: 105px;
}
footer{
    background-color: #725e5e;
    height: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    display: block;
    z-index: 5;
    top:200px;
}

/*TAYLOR'S STYLING FOR FORM*/
.questionDiv {
    margin-bottom: 15px;
}

#numericalIntro {
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonStyle {
    background-color: #FFF;
    height: 30px;
    width: 90px;
    border: 2px solid ##877676;
    border-radius: 5px;
    text-align: center;
    color: #877676;
}

#formHeader {
    margin: 0 auto;
    text-align: center;
}
