header {
    position: fixed;
    height: auto;
    width: 100%;
    height: 165px;
    margin: 0 auto;
    text-align: center;
    background-color: #877676;
    z-index: 9;
}

#logo {
    width: 156px;
    height: auto;
    position: fixed;
    z-index: 10;
    left: 16%;
    top: 16px;
}

#logoTxt {
    width: 207px;
    height: auto;
    position: fixed;
    z-index: 10;
    left: 14%;
    top: 125px;
}

#HeaderWrapper{
    height: 120px;
    margin: 0 auto;
    text-align: center;
    background-color: #CAB8BE;
}

#menuBorder{
    background-color: rgb(114, 94, 94);
    height: 45px;
    position: relative;
    width: 100%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

nav ul {
    display: flex;
    width: 40%;
    justify-content: center;
    list-style-type: none;

    margin-top: 70px;
}

nav li {
    margin: 5px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 4px;
    border-radius: 5px;
    font-family: "Century Gothic", sans-serif;
}


nav li a:hover{
    background-color: #b2f9ed;
    /*padding: 10px;*/
    color: #725e5e;
}
nav li:last-of-type a {
    background-color: #F97d7d;
}
