@import url("header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

#titleImage{
    width: 100%;
    background-image: url("../images/kimImgs/backgroundMnt.jpg");
    background-repeat: no-repeat;
}

#titleWrapper{
    background-color: rgba(150, 150, 150, 0.2);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
 exp
#title{
    font-size: 48px;
    margin: 45px 45px 0 65px;
}

#welcomeText{
    text-align:justify;
    margin: 0 auto;
    line-height: 28px;
    font-size: 14px;
    padding-top: 70px;
    max-width: 950px;
    font-weight: bolder;
}

#howitWorks{
    background-image: url("../images/kimImgs/wov.png");
    margin-top: -55px;
}

#howitworksTitle{
    font-size: 48px;
    text-align: center;
    padding-top: 45px;
}

#howitworksContent{
    background-color: #327c7a;
    color: white;
    text-align: center;
    padding: 0px 150px 60px 150px;
    line-height: 24px;

}

#howitworksTitle{
    padding-bottom: 30px;
}
#content{
    max-width: 950px;
    margin: 0 auto;
    text-align: justify;
}
#exampleTitle{
    padding-top: 35px;
    font-size: 28px;
}

#howitworksExample{
    color: #282828;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 24px;
}
.howitworksText{
    text-align: justify;
    padding-bottom: 25px;
    max-width: 950px;
    margin: 0 auto;
}



#conclusion{
    background-color: #327c7a;
    color: white;
    text-align: center;
    padding: 35px 150px 40px 150px;
    line-height: 24px;
}
.conclusionText{
    text-align: justify;
    padding-bottom: 25px;
    max-width: 950px;
    margin: 0 auto;
}

#getStartedButton{
    padding-top: 25px;
    text-align: center;
}
