* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
    background-color:  #F0EEDD;
    padding-top: 100px;
}


header {
    background-color: #8ecea5;
    color: #FFFFFF;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 20px;
    position: fixed;
    top: 0;
}

h1 {
    font-size: 2.5em;
}

ul {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    font-size: 22px;
    list-style-type: none;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.buttonStyle {
    background-color: #f4a126;
    height: 60px;
    width: 170px;
    border: 4px solid #FFFFFF;
    border-radius: 3px;
}

#mainContent {
    padding: 100px 170px 50px 170px;
}

section {
    color: #76AB89;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2, section p:last-child {
    margin-bottom: 30px;
}

h2 {
    font-size: 3em;
    text-align: center;
}

figure {
    height: 200px;
    width: 200px;
}

img {
    height: 180px;
    width: 180px;
}
aside {

}

footer {

}

h1 {

}

ul {

}

li {

}

/** {
    border: 1px dashed red;
}*/
