* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
    background-color:  #FFFFFF;
}

header {
    background-color: #8ecea5;
    color: #FFFFFF;
}

nav ul li {
    font-size: 22px;
    width: 100px;
}

nav ul li a {
    text-decoration: none;
    display: inline;
    color: #FFFFFF;
}

.buttonStyle{
    background-color: #f4a126;
}

section {

}

figure {
    height: 200px;
    width: 200px;
}

img {
    height: 180px;
    width: 180px;
}
aside {

}

footer {

}

h1 {

}

ul {

}

li {

}

/** {
    border: 1px dashed red;
}*/
