body {
    background-color:  #FFFFFF;
}

header {

}

nav {
  background-color: #8ecea5;

}

nav a{
  text-decoration: none;
  display: inline-block;
}

.buttonStyle{
  background-color: #f4a126;
}

section {

}

figure {
    height: 200px;
    width: 200px;
}

img {
    height: 180px;
    width: 180px;
}
aside {

}

footer {

}

h1 {

}

ul {

}

li {

}

/** {
    border: 1px dashed red;
}*/
