body {
    background-color:  #FFFFFF;
}

header {

}

nav {

}

section {

}

figure {
    height: 200px;
    width: 200px;
}

img {
    height: 180px;
    width: 180px;
}
aside {

}

footer {

}

h1 {

}

ul {

}

li {

}

/** {
    border: 1px dashed red;
}*/
