@import url("header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
    font-family: "Comfortaa";
    background-image: url("../images/kimImgs/wild_flowers.png");
    background-repeat: repeat;
    height=100%;
}

#mainContent{
    background-color: lightyellow;
    position: relative;
    top: 180px;
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    padding: 10px;
}

a {
    text-decoration: none;
    color: red;
}

.questionTxt {
    padding-bottom: 10px;
}

.radio-inline {
    margin: 1px;
}


.buttonStyle {
    background-color: #b2f9ed;
    height: 30px;
    width: 90px;
    border: 4px solid #FFFFFF;
    border-radius: 3px;
    text-align: center;
    clear: both;
}

section {
    color: #76AB89;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p + p {
    margin-top: 15px;
}

h2 {
    font-size: 3em;
    text-align: center;
    padding: 10px 0;
}

figure {
    height: 200px;
    width: 200px;
}

img {
    height: 180px;
    width: 180px;
}

#popup{
    width:  50%;
    height: 50%;
    margin-left: 100px;
    top: 100px;
    border: 1px;
    float: left;
    position: absolute;
}

#dogs{
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.dogs{
    box-shadow: 4px 4px 8px #898989;
}

#easyDog{
    height: 180px;
}

#medDog{
    margin-left: 30px;
    height: 180px;
}
#photoDog{
    margin-left: 30px;
    height: 180px;
}
#achieveChart {
    display: none;
}

/*TAYLOR'S STYLING*/
.questionTxt, .tfquestionTxt {
    padding: 0;
    margin-bottom: 15px;
    width: 100%;
}
